{% extends "layout.html" %}
{% block statics %}
<script type="text/javascript" src="./assets/localStorage.js" defer></script>
{% endblock %}
{% block content %}
<form name="form1" id="form1">
  <label for="name"> 
    名前
  <input type="text" name="name" id="name">
  </label>
  <label for="category"> 
    人種
    <input type="text" name="category" id="category">
  </label>
  <label for="strength"> 
    強さ
    <input type="text" name="strength" id="strength">
  </label>

  <button type="button" id="appendbtn">追加</button>
  <button type="button" id="deletebtn">削除</button>
</form>
  <div id="result"></div>
{% endblock %}
